.link:hover {
    text-decoration: none;
}

.stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    grid-gap: 3rem;
}

.story {
    width: 40%;
}

.submit-story {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
    opacity: .8;
    font-size: 1.6rem;
    height: 100%;
    color: #fff;
}

.submit-story img {
    width: 100%;
}

.submit-story button {
    background: none;
    border: none;
    color: #fff;
    align-self: flex-start;
    flex-grow: 2;
}